<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改todo</title>
    <style>
        .container {
            margin: 0 auto;
            width: 800px;
        }
        .todo-input-add, .todo-input-update {
            width: 713px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Todo</h1>
        <div class="todo-new">
            <form action={{ url_for('todo.update', todo_id=todo.id)}} method="post">
                <input type="text" class="todo-input-add" name="task", placeholder="欢迎使用..." value="{{todo.task}}">
                <button class="todo-button-add">修改 Todo</button>
            </form>
        </div>
    </div>

</body>
</html>